body {
    background-image: url("https://wallpapercave.com/wp/G1jXRDq.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 50%;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.heading {
    display: grid;
    grid-template-columns: 60% auto;
    grid-gap: 5%;
    color: white;
    text-align: left;
    padding: 0 8%;
    padding-top: 5%;
}

.head-img {
    width: 300px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 5% 8%;
}

.grid-item {
    position: relative;
    border-radius: 1rem;
    padding: 5%;
    margin: 5%;
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
    overflow: hidden;
    color: #777;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    z-index: 1; /* Ensure grid-item is above the pseudo-element */
}

.grid-item:hover{
    color: #fff;
}
.grid-item::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: calc(-100% + 4px);
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -9; /* Ensure the pseudo-element is below the text */
    transition: .3s ease-in-out;
}

.grid-item:hover::before {
    bottom: 0;
}

.grid-item:nth-child(6n-5)::before {
    background: #E31D65;
}

.grid-item:nth-child(6n-4)::before {
    background: #FF7C35;
}

.grid-item:nth-child(6n-3)::before {
    background: #FFCB36;
}

.grid-item:nth-child(6n-2)::before {
    background: #25A853;
}

.grid-item:nth-child(6n-1)::before {
    background: #007D97;
}

.grid-item:nth-child(6n)::before {
    background: #553AB8;
}
.grid-item:hover {
    padding: 7%;
    margin: 3%;
}

.grid-item div {
    position: relative;
    z-index: 999; /* Ensure text is above the pseudo-element */
}

.grid-item div h2,
.grid-item div p {
    transition: .3s;
    color: #777; /* Default color for text */
}

.grid-item:hover div h2,
.grid-item:hover div p {
    color: #fff; /* Change text color to white on hover */
}

.icon {
    height: 100px;
    width: 100px;
}

.title {
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.description {
    font-family: 'Lato', sans-serif;
}

@media only screen and (max-width: 850px) {
    .heading {
        grid-template-columns: auto;
        padding-top: 15%;
        padding-bottom: 2%;
    }
    .grid-container {
        grid-template-columns: auto auto;
        grid-gap: 2%;
    }
}

@media only screen and (max-width: 550px) {
    .heading {
        padding-top: 25%;
        padding-bottom: 5%;
    }
    .grid-container {
        grid-template-columns: auto;
        grid-gap: 1%;
    }
}
